*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #904E95, #E96443);
}
div {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
.cloud {
    transform: translate(-40%);
}
 
.cloud1{
    transform: translate(40%);
}

.cloud2{
    transform: translate(0, -40%);
}